// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

@font-face {
    font-family: 'VTC Martin';  
    src: url("../fonts/MARTIN-Regular.woff2") format("woff2"),
	 url("../fonts/MARTIN-Regular.woff") format("woff"),
	 url("../fonts/MARTIN-Regular.eot") format("eot"),
	 url("../fonts/MARTIN-Regular.eot?#iefix") format("embedded-opentype");  
    font-weight: normal;  
}

html {
	scroll-behavior: smooth;
  }

body {
				background-color: #fcf9ed;
}

h1,
h2,
h3,
h4,
.anti,
.racism,
.tribe-events-single-event-title {
				font-family: 'VTC Martin', 'Kanit', sans-serif;
}

h2, h3, h4, h5 {
	letter-spacing: .75px;
}

h1.entry-title, h2, h3, h4, h5 {
	text-transform: uppercase;
}

.navbar h1 {
	text-align: center;
}

.title {
				margin: 10px 10px 10px 10px;
				border-top: 30px solid $red;
				padding-top: 30px;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #000;
}

.title a,
a h1 {
	color: #000;
	text-decoration: none;
}

.title a:hover {
				text-decoration: none;
}

.midd {
				text-transform: uppercase;
				font-weight: 700;
				color: #000;
				background: $red;
				text-align: center;
}

.anti {
				font-size: 15.3vw;
				line-height: .5;
				display: block;
}

.racism {
				font-size: 9.5vw;
				line-height: 1;
				display: block;
}

.menu-home-container {
				margin: 10px 10px 10px 10px;
				border-top: 30px solid $blue;
				padding-top: 10px;
}

.menu-home-container a,
.etc a {
				font-size: 1.8em;
				font-weight: 700;
				color: black;
}

.menu-home-container ul,
.etc ul {
				list-style: none;
				padding-left: 0;
				margin-left: 0;
				margin: 15px auto 0 auto;
}

.etc {
				margin: 10px 10px 20px 10px;
				border-top: 30px solid $green;
				padding: 10px 20px;
}

.quote {
				font-size: 1.8em;
				font-family: serif;
				font-style: italic;
				line-height: 1.1;
				margin-top: 25px;
}

.quote-source {
				font-size: 4em;
				line-height: 1.1;
				font-family: 'VTC Martin', 'Kanit', sans-serif;
				margin-top: 15px;
				color: $green;
}

.tag-line {
				background-color: $red;
				padding: 5px;
				margin-bottom: 50px;
}

.label {
				font-family: 'VTC Martin', 'Kanit', sans-serif;
				font-size: 10vw;
				text-align: right;
				margin: 120px 40px 40px 40px;
				position: relative;
				line-height: .6;
				text-transform: uppercase;
}

.label:before {
				position: absolute;
				top: 0%;
				overflow: hidden;
				width: 100%;
				height: 20px;
				content: '\a0';
				background-color: #000;
				margin-top: 10px;
}

.label:before {
				margin-left: -100%;
				text-align: right;
}

.middle-menu {
	background-color: $red;
	margin: 30px 0;
}

.middle-menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 30px 0;
	justify-content: space-around;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.home-entry p {
	font-size: 1.3em;
    line-height: 1.3;
	margin-bottom: 30px;
}

#events a {
				color: #000;
				text-decoration: none;
}

#events a:hover {
				text-decoration: none;
}

a .event {
				border: 6px solid #000;
				margin: 30px 2vw;
				text-align: center;
				padding: 20px;
}

.events .col-md-3 {
				margin-bottom: 20px;
}

a .card {
				border-radius: 0;
				padding: 0;
				background-color: #95B1C1;
}

a .month {
				font-size: 2vw;
				margin-top: 20px;
    			margin-bottom: -20px;
}

a .day {
				font-family: 'VTC Martin', 'Kanit', sans-serif;
				font-size: 9vw;
				line-height: .8;
}

a .event-title {
				font-weight: 700;
				font-size: 1.3em;
				width: 90%;
				margin: 0 auto;
}

.media {
				margin-top: 50px;
}

.media-box {
				border-left: 10px solid;
				height: 100%;
}

.media-type {
				
				font-family: 'VTC Martin', 'Kanit', sans-serif;
				font-size: 4vw;			
				margin-left: 37px;
}

.media-list ul {
	list-style: none;
}

.media-list ul li {
				line-height: 1.4em;
}

.media-list ul li p {
	max-height: 70px;
	width: 100%;
	text-overflow: ellipsis;
	display: inline-block;
	margin-top: 10px;
}


.media-list li {
				margin-bottom: 15px;
}

ul li a {
				font-weight: 700;
				color: #000;
				font-size: 1.5em;
				margin-bottom: 7px;
				text-decoration: underline;				
}

.read ul li a {
	  text-decoration-color: $red;
}

.watch ul li a {
	  text-decoration-color: $green;
}

.listen ul li a {
	  text-decoration-color: $blue;
}


.nav {
				background-color: #D15252;
				padding: 10px 0;
				margin-bottom: 80px;
}

.nav a {
				text-align: center;
				display: block;
				color: #000;
				font-weight: 700;
				font-size: 1.2em;
				text-transform: uppercase;
				text-decoration: none;
}

.home-intro h2, #funding h2 {
	font-size: 4em;
}

#funding h3 {
	font-size: 3em;
}

.funding-details {
				margin: 10px 30px;
}

img {
				width: 100%;
				height: auto;
}

.green {
				background: hsl(107deg 17% 37%);
				border: $green;
}

.blue {
				background: $blue;
				border: $blue;
}

.red {
				background-color: $red;
				border: $red;
}

.yellow {
				background-color: $yellow;
				border: $yellow;
}

.green img,
.blue img,
.red img,
.yellow img {
				mix-blend-mode: screen;
				-webkit-filter: grayscale(200%) contrast(140%) brightness(1.3);
				filter: grayscale(200%) contrast(140%) brightness(1.5);
				opacity: 1;
				border: 5px solid;
}

.read {
				border-color: $red;
}

.watch {
				border-color: $green;
}

.listen {
				border-color: $blue;
}

.tribe-events-single-event-title {
	font-size: 6em;
	// letter-spacing: 3px;
	font-weight: 100;
}

.btn-ar, .tribe-events-content a.btn-ar, #mc-embedded-subscribe, .acf-button.button.button-primary {
				display: block;
				width: 300px;
				margin: 60px auto;
				border: 4px solid black;
				border-radius: 0;
				font-size: 1.2em;
				font-weight: 700;
				text-decoration: none;
				transition: all ease .3s;
}

.btn-ar:hover, #mc-embedded-subscribe:hover {
				// padding-left: 20px;
				background-image: url(../imgs/right_arrow.svg);
				background-position: right center;
				background-repeat: no-repeat;
				background-size: 30px;
}

.btn-blue, .acf-button.button.button-primary  {
				background-color: $blue;
}

.btn-blue:hover,
.btn-blue:hover a,
#events .btn-blue:hover,
#events .btn-blue:hover a,
#people .btn-blue:hover,
#people .btn-blue:hover a,
.tribe-events-content a.btn-blue:hover, 
.acf-button.button.button-primary:hover  {
				background-color: $green;
				color: $white;
}


.label {
				text-shadow: 3px 3px $blue;
}

#people a {
				font-weight: 700;
				color: $black;
				text-align: center;
				display: block;
				font-size: 1.3em;
				margin-top: 5px;
}

.people p {
	font-size: 1.3em;
    line-height: 1.4;
}

.connection-buttons {
	margin: 80px 0;
}

.news {
				padding: 20px;
				border: 5px solid $green;
				border-radius: 0;
}

.news a {
				color: $green;
				text-decoration-color: $green;
}

/*regular pages/posts*/
.entry-title {
	font-size: 5em;
	text-align: center;
	margin-bottom: 30px;
}

.entry-content h2 {
	font-size: 3em;
}

.entry-content h3 {
	font-size: 2.5em;
}

/*PERSON*/
.person-links .btn {
	max-width: 90%;
}
.person-link {
				min-width: 150px;
				margin-top: 30px;
				font-size: 1.5em;
				color: $black;
}

.nav-previous a, .nav-next a {
	color: $black;
	margin: 20px 0;
	display: inline-block;
}



/*UPDATES*/

.facet-row .col-md-4 {
	margin-bottom: 30px;
}

/*facet resources*/

.facet-page {
	padding: 0 3vw;
}

.facet-row {
	margin-top: 80px;
}

.facet-block{
	margin: 0 20px;
	padding: 20px;
	border: 4px solid $black;
	background-color: $white;
}

.facet-people-block {
	border-radius: 0;
}

#facet-people .col-md-4 {
	margin-bottom: 30px;
}

#facet-resources .col-md-6 {
				margin-bottom: 20px;
}

#facet-resources .card {
				border-radius: 0;
}

#facet-resources a {
				color: $black;
}

#find-people .facetwp-facet:first-of-type{
	margin-bottom: 0;
}

/*calendar adjustments*/
.tribe-common--breakpoint-medium.tribe-events .tribe-common-c-btn.tribe-events-c-search__button {
				background-color: $green;
}

/*TEMPORARY*/
.understrap-read-more-link {
				display: none;
}

.content-area .tribe-events .tribe-events-calendar-month__multiday-event-bar,
.content-area .tribe-events .tribe-events-calendar-month__multiday-event-bar-inner {
				background-color: $red;
}

.tribe-events-c-ical__link, .entry-content .tribe-events .tribe-events-c-ical__link,
.tribe-events .tribe-events-c-ical__link:visited {
				border: 1px solid $green;
				color: $green;
}

.entry-content .tribe-common .tribe-common-c-svgicon {
				color: $green;
}

.entry-content .tribe-events .tribe-events-c-ical__link:active,
.entry-content .tribe-events .tribe-events-c-ical__link:focus,
.entry-content .tribe-events .tribe-events-c-ical__link:hover {
				background-color: $green;
}

.entry-content .tribe-events-event-meta a,
.entry-content .tribe-events-event-meta a {
				text-decoration: underline;
}

.entry-content .tribe-events-event-meta a:focus,
.entry-content .tribe-events-event-meta a:hover {
				color: $green;
}

.entry-content .tribe-events .datepicker .day.active {
	background-color: $green;
}

/*modal newsletter subscribe*/
#mc_embed_signup_scroll {
	padding: 30px 60px;
}

#mc_embed_signup h2 {
	font-size: 4.4em;
    font-weight: 100;
	text-align: center;
}

#mce-success-response {
	text-align: center;
	margin: 20px auto;
	display: block;
	background-color: $blue;
	padding: 10px;
	font-size: 2em;
	transition: all .3s ease;
}

.mc-field-group {
	font-size: 1.5em;
	margin-bottom: 10px;
}

#mc_embed_signup_scroll p {
	font-size: 1.2em;
}

/*footer*/
#wrapper-footer-full, #wrapper-footer {
	background-color: $green;
	color: $white;
}

#wrapper-footer-full ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 30px 0;
	justify-content: space-around;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

/*footer middlebury*/

.midd-footer {
    background-color: #022543;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.sr-only, .visually-hidden {
    clip: rect(0,0,0,0);
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.midd-footer__list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li.midd-footer__item {
	margin-left: 40px;
}

.midd-footer__link {
    color: #fff;
    display: block;
    font-size: .875rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    white-space: nowrap;
}

.footer-logo {
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

//SVG RANDOM COLORS 
#random-pattern {
	border: 5px solid $black;
}

#random-pattern polygon {
	&.red {
		fill: $red;
		stroke: $red;
	  }
	&.blue {
		fill: $blue;
		stroke: $blue;
	}
	&.green {
		fill: $green;
		stroke: $green;
	}
	&.yellow {
		fill: $yellow;
		stroke: $yellow;
	}
	&.black {
		fill: $black;
		stroke: $black;
	}
}


@media only screen and (max-width: 800px) {
				.title {
					padding-top: 10px;
				}

				.anti {
						font-size: 22vw;
						line-height: 1;
						display: inline-block;
				}

				.racism {
						font-size: 22vw;
						line-height: 1;
						display: inline-block;
				}
				.label {
								font-family: 'VTC Martin', 'Kanit', sans-serif;
								font-size: 18vw;
								text-align: center;
								margin: 120px 40px 40px 40px;
								position: relative;
								line-height: .6;
								text-transform: uppercase;
				}

				.label:before {
								display: none;
				}

				.label:before {
								margin-left: -100%;
								text-align: right;
				}

				a .month {
					font-size: 7vw;
				}
				a .day {
					font-size: 22vw;
				}

				.btn-ar {
					width: 45%;
				}

				.media-type {
					font-size: 14vw;
				}

}
